* {
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(49, 48, 48);
    
}
.container {
    width: auto;
    height: auto;
    background-color: white;
   
}
.nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: aliceblue;
    height: 50px;
    padding-top: 10px;
    position: relative;
    z-index: 3;
}
.nav ul > li:first-child{
   margin-top: -10px;
    font-weight: 800;
    margin-left: 100px;
}
.nav ul>li:nth-child(2) {
    margin-top: -4px;
    font-weight: 800;
    margin-left: -250px;
    font-size: 20px;
    
}
.nav ul>li:last-child {
  
    font-weight: 800;
    padding-right: 100px;
    display:block;
    margin-top: -15px;
}
.nav img {
    width: 40px;
        height: 30px;
        padding-right: 10px;
}

button {
    background-color:#00cb87;
    color: white;
   
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
}
.home {
    display: flex;
    color: rgb(133, 132, 132);
    
    }
.home li:first-child {
    padding-right: 30px;
}
.home li:nth-child(2) {
    padding-right: 30px;
}
.home li:nth-child(3) {
    padding-right: 30px;
}
.home li:nth-child(4) {
    padding-right: 30px;
}

.first {
    width: 600px;
    margin-top: 200px;
    padding-left: 140px;
    }
h1 {
    font-size: 48px;
    font-weight: 100;
}
.first p {
    margin-top: 20px;
    color: rgb(133, 132, 132);
    width: 380px;
}
.first button {
    margin-top: 20px;
}
.first div {
    width: 300px;
    height: 300px;
    background-color: black;
    transform: skewy(50deg);
    position: absolute;
    top: 200px;
    right: 20px;
    z-index: 1;
    

}
.first img {
    position: absolute;
    right: 0px;
    top: 20px;
    width:600px;
        height:800px;
        z-index: 1;
       
    }
    .second {
        height: 600px;
        background-color: rgba(241, 241, 241, 0.459);
        margin-top: 150px;
       
    }
    h2 {
        font-size: 32px;
        font-weight: 200;
        padding-left: 140px;
        padding-top: 100px;
    }
    .second p, h3 {
    padding-left: 140px;
    }
    .second p:nth-child(2) {
        margin-top: 20px;
            width: 720px;
    }
    h3 {
        font-size: 18px;
        padding-top: 30px;
    }
    .banking {
        display: flex;
        margin-right: 100px;
        

    }
    .banking p {
        width: 300px;
        padding-left: 140px;
        
    }
        
    .online, .simple, .fast, .open {
        width: 60px;
        height: 60px;
        background-color: #00cb87;
        border-radius: 50px;
        margin-top: 50px;
        margin-left: 140px;
        margin-right: 100px;
    }
    .online, .simple,
    .fast,
    .open img {

   
        
      padding: 6px 6px;
    }
    .third {
        width: 1335px;
        height: 600px;
        background-color: white;
        display: inline-block;
    }
    .feature img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width:250px;
            height:150px;
    }
    /*aside {
        margin-left: 10px;
        display: inline-block;
        justify-content: space-between;
        margin-top: 200px;
    }*/
    
    .third p:first-child {
        font-size: 36px;
        
        margin-top: 120px;
        margin-left: 140px;
        }
   
    .first-1 {
        width: 250px;
        height: 340px;
        background-color: rgba(241, 241, 241, 0.459);
        border-top-right-radius: 10px;
            border-top-left-radius: 10px;
    }
   
        
       .first-1 p {
        margin-top: 30px;
        color: rgb(133, 132, 132);
    
       } 
       
    .first-1 p:nth-child(2) {
        padding-left: 25px;
        font-size: 10px;
    }
        .first-1 p:nth-child(3) {
           padding-left: 25px;
          margin-top: 10px;
            width:230px;
            font-size: 15px;
            font-weight: 600;
          
        }
                .first-1 p:nth-child(4) {
                    font-size: 12px;
                    width: 220px;
                    padding-left: 25px;
                    margin-top: 10px;
                }
    
    .first-2 {
        width: 250px;
            height: 340px;
            background-color: rgba(241, 241, 241, 0.459);
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
           }
                        .first-2 p {
                            margin-top: 30px;
                            color: rgb(133, 132, 132);
            
                        }
            
                        .first-2 p:nth-child(2) {
                            padding-left: 25px;
                            font-size: 10px;
                        }
            
                        .first-2 p:nth-child(3) {
                            padding-left: 25px;
                            margin-top: 10px;
                            width: 230px;
                            font-size: 15px;
                            font-weight: 600;
            
                        }
            
                        .first-2 p:nth-child(4) {
                            font-size: 12px;
                            width: 220px;
                            padding-left: 25px;
                            margin-top: 10px;
                        }
        
    .first-3 {
    width: 250px;
        height: 340px;
        background-color:rgba(241, 241, 241, 0.459);
        border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
                .first-3 p {
                    margin-top: 30px;
                    color: rgb(133, 132, 132);
        
                }
        
                .first-3 p:nth-child(2) {
                    padding-left: 25px;
                    font-size: 10px;
                }
        
                .first-3 p:nth-child(3) {
                    padding-left: 25px;
                    margin-top: 10px;
                    width: 230px;
                    font-size: 15px;
                    font-weight: 600;
        
                }
        
                .first-3 p:nth-child(4) {
                    font-size: 12px;
                    width: 220px;
                    padding-left: 25px;
                    margin-top: 10px;
                }

                
    .first-4 {
            width: 250px;
            height: 340px;
            background-color: rgba(241, 241, 241, 0.459);
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
    
        .first-4 p {
            margin-top: 30px;
            color: rgb(133, 132, 132);
    
        }
    
        .first-4 p:nth-child(2) {
            padding-left: 25px;
            font-size: 10px;
        }
    
        .first-4 p:nth-child(3) {
            padding-left: 25px;
            margin-top: 10px;
            width: 230px;
            font-size: 15px;
            font-weight: 600;
    
        }
    
        .first-4 p:nth-child(4) {
            font-size: 12px;
            width: 220px;
            padding-left: 25px;
            margin-top: 10px;
        }
    .feature {
        
        display: flex;
        justify-content: space-between;
        margin-left: 140px;
        width: 1100px;
    }
    
    .footer-section {
        height: 200px;
        display: flex;
        justify-content: space-between;
        background-color: #000c3d;
        color: white;
        
    }
    .center {
        display: flex;
        align-items: center;
       
        
        
    }
    .about {
        list-style: none;
        height: 100px;
        font-size: 18px;
       
        }
    .about li:first-child {
        
        padding-top 20px;
        padding-bottom: 10px;
    }
        .about li:nth-child(2){
            
            padding-top 20px;
            padding-bottom: 10px;
        }

    .Careers {
        list-style: none;
        height: 100px;
            font-size: 18px;
        
        }
        
        .Careers li:first-child {
        
            padding-top 20px;
            padding-bottom: 10px;
        }
        
        .Careers li:nth-child(2) {
        
            padding-top 20px;
            padding-bottom: 10px;
    }
    .social {
        margin-left: 140px;
        margin-top: 30px;
        
            
        
    }
    .social p {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 40px;
        
        
    }
    .social .text {
        background-color: #000c3d;
        align-self: center;
    }
    .social img {
        width: 40px;
        height: 30px;
        padding-right: 10px;
    }
    .copywright {
        margin-right: 100px;
        margin-top: 50px;
        text-wrap: ;
    }


    
